body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

table {
  margin-top: 20px;
  border: 1px solid grey;
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
} 

th {
  padding: 10px;
  border: 1px solid grey;
  text-align: left;
}

td {
  padding: 10px;
  border: 1px solid grey;
  text-align: left;
} 

input,
button {
  outline: none;
}

button {
  cursor: pointer;
}

